@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

:root {
  --primary: #515C97;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: var(--primary);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased transition-colors duration-300 bg-[#f5f5f5] dark:bg-[#1E1E1E] text-[#1a1a1a] dark:text-[#f5f5f5];
  }
}
